@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@media screen and (min-width: 768px) {
  html,
  body {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    background: #efefef;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    font-style: normal;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  a:link {
    text-decoration: none;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 4rem;
    padding: 0 10%;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
  }

  .logo {
    padding: 0;
    font-weight: 700;
  }

  .nav-bar {
    padding: 0;
  }

  .desk-menu {
    position: relative;
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    padding: 0;
    color: #172b4d;
    font-weight: 500;
    font-size: 1rem !important;
    line-height: 20px;
    font-family: "Poppins", sans-serif;
  }

  ul.desk-menu li a {
    color: #172b4d;
    font-weight: 60%;
    font-size: 1.1rem !important;
    line-height: 1.5rem;
    font-family: "Poppins", sans-serif;
  }

  .headline-section {
    height: 90vh;
    width: 100%;
    margin: 48px auto;
    border-bottom-left-radius: 5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.2rem;
    background-color: #fff;
    background-image: url("../images/bgd/desk-header-bg.png");
    background-size: 98% 96%;
  }

  .primary-text {
    padding: 0 15%;
    font-size: 44px;
  }

  .intro-text {
    padding: 0 15%;
    line-height: 20px;
  }

  .social-media-text {
    padding: 0 15%;
  }

  ul.social-media-icons {
    padding: 0 15%;
  }

  .desk-works-section {
    position: relative;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8% auto;
    padding: 0 8%;
    gap: 62px;
  }

  .card {
    position: relative;
    width: auto;
    height: auto;
    padding: 16px;
    margin: 0 auto;
    flex-direction: row;
  }

  .card:hover {
    border: 1px #0f27ff;
    box-shadow: 1px 1px 6px #0018f5;
  }

  .pr-photo {
    position: relative;
    width: 50%;
  }

  .order-0 {
    order: 0;
  }

  .order-1 {
    order: 1;
  }

  .portfolio-img {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    order: 0;
  }

  .pr-details {
    width: 50%;
    margin: 2% auto;
    padding: 0 4px;
  }

  .pr-title {
    line-height: 52px;
  }

  ul.pr-type {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .pr-type-info {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  .pr-description {
    margin: 2% 0;
    font-size: 14px;
    line-height: 24px;
  }

  ul.pr-tech-tags {
    margin: 2% 0;
    gap: 3px;
  }

  .pr-tag {
    padding: 4px 10px;
  }

  .pr-call-to-action-box {
    margin: 2% 0;
  }

  .about-resume-action-box {
    margin-left: 0;
  }

  .pr-call-to-action-button:link,
  .about-resume-action-button:link {
    height: 40px;
    font-size: 16px;
    padding: 8px;
  }

  .modal-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    background: rgba(194, 200, 209, 0.85);
    z-index: 99;
  }

  .popup-card {
    height: 85vh;
    margin: 3rem 4rem auto 4rem;
    padding: 0.8rem 0.6rem 0.6rem;
    gap: 0.6rem;
  }

  .popup-title {
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    order: 0;
  }

  .popup-pr-title {
    font-size: 32px;
  }

  .popup-close-btn {
    order: 1;
  }

  .popup-toggle {
    font-size: 2rem;
    height: 2rem;
  }

  ul.popup-pr-type {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }

  .popup-pr-photo {
    position: relative;
    width: 100%;
    height: 88%;
    order: 2;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .popup-portfolio-img {
    height: 88%;
  }

  .popup-portfolio-img:hover {
    scale: 1.03;
  }

  .popup-details {
    padding: 0;
    width: 100%;
    flex-direction: row;
    gap: 0.8rem;
    margin-top: -4%;
  }

  .popup-pr-desc {
    width: 75%;
    position: relative;
  }

  .popup-tech-info {
    width: 25%;
    position: relative;
    margin: 0 auto;
    padding: 5% 5% 16% 5%;
    gap: 0.5rem;
  }

  ul.popup-pr-techs {
    flex-wrap: wrap;
    gap: 8px;
    height: auto;
  }

  .popup-action-btns {
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .about-me-section {
    padding: 5%;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 40% 57%;
    grid-template-rows: 1fr;
    column-gap: 3%;
  }

  .about-me-top,
  .about-me-down {
    width: auto;
    justify-content: start;
  }

  .about-me-top {
    grid-column-start: 1;
  }

  .abt-primary-text,
  .abt-intro-text,
  .abt-social-media-text,
  .about-resume-action-box {
    padding: 0;
  }

  ul.abt-social-media-icons {
    padding-left: 2%;
  }

  .about-me-down {
    grid-column-start: 2;
    margin-top: 3%;
  }

  ul.no-style {
    list-style: none;
  }

  ul.skill-lang-selector1,
  ul.skill-lang-selector2 {
    position: relative;
    height: auto;
    width: 80%;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  ul.skill-lang-selector1 {
    order: 0;
    margin: 0;
  }

  ul.skill-lang-selector2 {
    order: 2;
    margin: 0;
  }

  ul.language-list {
    padding: 5px;
    width: auto;
    flex-direction: row;
    gap: 10px;
    order: 1;
  }

  .js-lang,
  .html-lang,
  .css-lang {
    gap: 5px;
    padding: 20px;
  }

  .skills-line1,
  .skills-line2 {
    width: 95%;
  }

  .skills-line1 {
    order: 2;
    margin: -16px auto;
  }

  .skills-line2 {
    order: 4;
    margin: -16px auto;
  }

  .contact-me-section {
    position: relative;
    width: auto;
    margin: 0 auto;
    height: auto;
    padding: 114px 24px 88px 24px;
    background: #0016df;
    background-image: url("../images/bgd/desk-footer-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 80%;
    border: 0;
    border-top-left-radius: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  .contact-primary-text {
    color: #fff;
  }

  .contact-instruction {
    text-align: center;
    color: #fff;
    width: 50%;
    padding: 0;
    margin: 0;
  }

  #contact-form {
    position: relative;
    width: 100%;
    height: auto;
    order: 2;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  ul.contact-form-items {
    position: relative;
    width: 100%;
    height: auto;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    order: 0;
  }

  .sender-name {
    order: 0;
  }

  .sender-email {
    order: 1;
  }

  .sender-message {
    order: 2;
  }

  .sender-name,
  .sender-email,
  .sender-message {
    position: relative;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
  }

  #username,
  #email,
  #message {
    position: relative;
    width: 18rem;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 4px;
    padding: 1rem;
    font-weight: 500px;
    font-size: 18px;
    line-height: 20px;
    color: #172b4d;
  }

  .placeholder:focus::-webkit-input-placeholder {
    color: #fff;
  }

  .placeholder:focus::-ms-input-placeholder {
    color: #fff;
  }

  .placeholder:focus::-moz-placeholder {
    color: #fff;
  }

  .username,
  .email {
    height: 18px;
  }

  #username:valid,
  #email:valid,
  #message:valid {
    border: 1px solid #008000;
  }

  #username:invalid,
  #email:invalid,
  #message:invalid {
    border: 1px solid #f00;
  }

  .message {
    height: 170px;
    text-align: left;
    font-size: 18px;
    line-height: 24px;
    color: #b3bac5;
  }

  .username-label,
  .email-label,
  .message-label {
    display: block;
    visibility: hidden;
  }

  .contact-submit-btn {
    position: relative;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    align-self: center;
    order: 3;
  }

  .submit-btn {
    position: relative;
    width: auto;
    height: 48px;
    box-sizing: border-box;
    padding: 12px 16px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #0f27ff;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
  }

  .about-resume-action-button:hover,
  .pr-call-to-action-button:hover {
    background: #6070ff;
    border-radius: 8px;
    border: 0;
    color: #fff;
    box-shadow: 0 2px 5px #0f27ff;
  }

  .submit-btn:hover {
    background: #0016df;
    border-radius: 8px;
    border: 1px solid #fff;
    color: #fff;
  }

  .about-resume-action-button:enabled,
  .pr-call-to-action-button:enabled {
    background: #fff;
    border: 1px solid #0f27ff;
    border-radius: 8px;
    color: #0f27ff;
  }

  .about-resume-action-button:active,
  .pr-call-to-action-button:active,
  .submit-btn:active {
    background: #2230d2;
    border: 1px solid #0f27ff;
    border-radius: 8px;
    color: #fff;
  }

  .about-resume-action-button:disabled,
  .pr-call-to-action-button:disabled {
    border: 1px solid #c1c7d0;
    border-radius: 8px;
    color: #0f27ff;
  }

  .indicator {
    padding: 0 0 1.8rem 0;
    background-color: #0016df;
    margin-top: -4rem;
    width: auto;
    height: 10%;
  }

  #email-error {
    order: 0;
    position: relative;
    height: 1.7rem;
    margin: 0 auto;
    padding-top: 0.5rem;
    width: 60%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
    color: red;
    text-align: center;
    background-color: #fff;
    border: solid 1.5px #6070ff;
    border-radius: 0.2rem;
    visibility: hidden;
  }

  @media screen and (min-width: 768px) {
    .mm-icon-wrapper,
    .m-mobile-menu,
    .primary-text-br,
    .mob-works-section,
    .mob-modal-popup,
    .indicator {
      display: none;
    }
  }

  @media screen and (width: 912px) {
    .js-lang,
    .html-lang,
    .css-lang {
      padding: 20px;
    }
  }

  @media screen and (width: 912px) {
    .lang-img {
      width: 80%;
    }
  }

  @media screen and (width: 820px) {
    .headline-section {
      height: 50vh;
      background-position: center;
      background-size: 96% 94%;
    }

    .js-lang,
    .html-lang,
    .css-lang {
      padding: 23px;
    }
  }

  @media screen and (min-width: 1024px) {
    .primary-text {
      font-weight: 700;
      font-size: 48px;
      line-height: 60px;
    }

    .intro-text {
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
    }

    .social-media-text {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }

    .pr-title {
      font-weight: 700;
      font-size: 40px;
      line-height: 52px;
    }

    .pr-type-info {
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
    }

    .pr-description {
      font-size: 16px;
    }

    .pr-call-to-action-box {
      margin: 3% 0;
    }

    .js-lang,
    .html-lang,
    .css-lang {
      padding: 27px;
    }

    .lang-img {
      width: 70%;
    }

    #username,
    #email,
    #message {
      width: 24rem;
    }
  }

  @media screen and (min-width: 1440px) {
    .headline-section {
      height: 92vh;
      background-size: 98% 96%;
      background-position: center;
    }

    .desk-works-section {
      height: auto;
      width: 82%;
      margin: 8% auto;
      padding: 0;
      gap: 140px;
    }

    .card {
      width: 95%;
      height: auto;
      padding: 16px;
      margin: 0 auto;
      gap: 16px;
    }

    .pr-photo {
      width: 50%;
    }

    .pr-details {
      width: 50%;
      gap: 12px;
    }

    .about-me-section {
      padding: 10%;
      grid-template-columns: 40% 58%;
      column-gap: 2%;
    }

    ul.skill-lang-selector1,
    ul.skill-lang-selector2 {
      width: 90%;
    }

    .skills-line1,
    .skills-line2 {
      margin: 0 auto;
      width: 98%;
    }

    .js-lang,
    .html-lang,
    .css-lang {
      padding: 22px;
      gap: 30px;
    }

    .lang-img {
      padding: 0;
      width: 70%;
      height: auto;
    }

    ul.language-list {
      margin-left: 0;
      padding: 5px;
      height: 100%;
      width: 60%;
    }

    .contact-me-section {
      background-position: center;
      background-size: 80%;
      padding: 114px 24px 32px 24px;
    }

    .contact-instruction {
      width: 48%;
    }

    #contact-form {
      position: relative;
      width: 40%;
    }

    #username,
    #email,
    #message {
      width: 30rem;
    }

    .indicator {
      margin: -1rem 0 1.5rem 0;
    }

    #email-error {
      width: 30%;
      font-size: 1.1rem;

      .desk-modal-popup {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        margin: 0 auto;
        padding: 0;
        z-index: 99;
        visibility: hidden;
        width: 100%;
        background: rgba(194, 200, 209, 0.85);
      }

      .popup-card {
        margin: 4rem 10rem;
        padding: 0.8rem 1rem 1rem;
      }

      .popup-title {
        height: 3rem;
      }

      .popup-pr-title {
        font-size: 1.7rem;
      }

      ul.popup-pr-type {
        font-weight: 600;
        font-size: 1rem;
        line-height: 24px;
      }

      .popup-pr-photo {
        position: relative;
        width: 100%;
        height: 93%;
      }

      .popup-portfolio-img {
        width: 100%;
        height: 93%;
        scale: 1;
      }

      .popup-portfolio-img:hover {
        scale: 1.01;
      }

      .popup-details {
        gap: 0.8rem;
        margin: 0;
      }

      .popup-pr-desc {
        font-size: 16px;
        width: 80%;
        position: relative;
      }

      ul.popup-pr-techs {
        flex-wrap: wrap;
        gap: 8px;
        height: auto;
      }

      .popup-tech-info {
        width: 20%;
        position: relative;
        gap: 0.5rem;
      }

      .popup-action-btns {
        justify-content: center;
        align-items: center;
        gap: 0.6rem;
        margin-left: -0.5rem;
      }
    }
  }
}
