/* styles for Microverse Portfolio Project - Mobile first */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@media screen and (min-width: 375px), (min-width: 600px), (min-width: 1440px) {
  html,
  body {
    max-width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto;
    place-items: center;
    justify-content: center;
    grid-template-rows: auto;
    background: #efefef;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    margin: 0;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  .header {
    position: relative;
    max-width: 375px;
    height: 48px;
    top: 44px;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 99;
    background-color: #fff;
  }

  .nav-bar {
    /* relative position for background */
    position: relative;
    width: 375px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .logo-placeholder {
    position: relative;
    width: 100px;
    height: 40px;
    padding: 0 24px;
    text-align: center;
    display: flex;
    align-items: center;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .logo {
    /* My Logo */
    width: 76px;
    height: 20px;
    font-size: 18px;
    line-height: 20px;
    color: #6070ff;
    vertical-align: middle;
  }

  .main-menu-icon-wrapper {
    /*  layout */
    position: relative;
    width: 40px;
    height: 40px;
    right: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    display: flex;
    align-items: center;
  }

  .main-menu-icon {
    /* Auto layout */
    position: relative;
    width: 24px;
    height: 24px;
  }

  .headline-section {
    position: relative;
    height: 670px;
    max-width: 375px;
    top: 44px auto 0 auto;
    display: flex;
    border-bottom-left-radius: 70px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: none;
    justify-content: center;
    align-content: center;
    order: 0;
    flex-grow: 0;
    background-color: #fff;
  }

  .primary-text {
    /* Primary Text */
    position: relative;
    top: 114px;
    height: 150px;
    max-width: 375px;
    border-radius: nullpx;
    padding: 0 24px 0 24px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .intro-text {
    /* Introduction Text */
    position: relative;
    max-width: 375px;
    height: 146px;
    top: 52px;
    padding: 0 24px 0 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    overflow-wrap: break-word;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .header-shapes {
    position: absolute;
    width: 375px;
    height: 601px;
    top: 121px;
    overflow: hidden;
  }

  .rect-4 {
    position: absolute;
    height: 22.02px;
    width: 95.58px;
    left: 297px;
    top: 65px;
    transform: rotate(-30deg);
    background: #ebebff url('../images/header-shapes/Rectangle 4.png') no-repeat;
  }

  .ellipse-3 {
    position: absolute;
    height: 105px;
    width: 105px;
    left: 323px;
    top: 77px;
    background: url('../images/header-shapes/Ellipse 3.png') no-repeat;
  }

  .ellipse-15 {
    position: absolute;
    height: 15px;
    width: 15px;
    left: 53px;
    top: 546px;
    border: 1px solid #cbcdff;
    background: rgb(206, 150, 150) url('../images/header-shapes/Ellipse 15.png') no-repeat;
    box-sizing: border-box;
  }

  .ellipse-14 {
    position: absolute;
    height: 11px;
    width: 11px;
    left: 288px;
    top: 246px;
    border: 1px solid #cbcdff;
    background: #fff url('../images/header-shapes/Ellipse 14.png') no-repeat;
  }

  .ellipse-8 {
    position: absolute;
    height: 15px;
    width: 15px;
    left: 214px;
    top: 45px;
    border: 1px solid #cbcdff;
    background: #fff url('../images/header-shapes/Ellipse 8.png') no-repeat;
  }

  .ellipse-11 {
    position: absolute;
    width: 35.5px;
    height: 31.25px;
    left: -11px;
    top: 47px;
    transform: rotate(0.88deg);
    background: url('../images/header-shapes/Ellipse 11.png') no-repeat;
  }

  .rect-6 {
    position: absolute;
    height: 12px;
    width: 51.99px;
    left: -35px;
    top: 9px;
    background: #ebebff url('../images/header-shapes/Rectangle 6.png') no-repeat;
    transform: rotate(-46.14deg);
  }

  .ellipse-12 {
    position: absolute;
    height: 12.07px;
    width: 24.14px;
    left: 317px;
    top: 447px;
    transform: rotate(4.88deg);
    background: url('../images/header-shapes/Ellipse 12.png') no-repeat;
  }

  .ellipse-13 {
    position: absolute;
    height: 30.1px;
    width: 30.1px;
    left: 305.18px;
    top: 456.44px;
    transform: rotate(12.41deg);
    background: url('../images/header-shapes/Ellipse 13.png') no-repeat;
  }

  .ellipse-4 {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 212px;
    top: 532px;
    background: url('../images/header-shapes/Ellipse 4.png') no-repeat;
  }

  .rect-5 {
    position: absolute;
    height: 12.18px;
    width: 68.06px;
    left: 173px;
    top: 546px;
    transform: rotate(23.34deg);
    background: url('../images/header-shapes/Rectangle 5.png') #ebebff no-repeat;
  }

  .ellipse-5 {
    position: absolute;
    height: 11px;
    width: 12px;
    left: 132px;
    top: 79px;
    transform: rotate(52.97deg);
    background: url('../images/header-shapes/Ellipse 5.png') no-repeat;
  }

  .rect-7 {
    position: absolute;
    height: 4.73px;
    width: 26.26px;
    left: 129px;
    top: 76px;
    transform: matrix(0.76, 0.65, 0.65, -0.76, 0, 0);
    background: url('../images/header-shapes/Rectangle 7.png') no-repeat;
    background: #6070ff;
  }

  .social-media-text {
    position: relative;
    top: 12px;
    width: auto;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 0 24px 0 24px;
    color: #7f8cff;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  ul.social-media-icons {
    position: relative;
    width: 35%;
    height: 24px;
    top: -24px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex: none;
    order: 3;
    flex-grow: 0;
  }

  .social-icon {
    position: relative;
    width: 18px;
    height: 18px;
    left: -15px;
    flex: none;
    flex-grow: 0;
    order: 4;
  }

  .works-section {
    position: relative;
    height: auto;
    display: grid;
    top: 0;
    padding: 114px 24px 114px 24px;
    grid-template-columns: auto;
    place-items: center;
    justify-content: center;
    grid-template-rows: 552px 552px 552px 552px;
    row-gap: 68px;
  }

  .card {
    position: relative;
    width: 327px;
    height: 552px;
    padding: 16px;
    top: 114px;
    background-color: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 220px 36px 32px 76px 24px 72px;
    align-items: center;
    justify-content: center;
    row-gap: 12px;
    box-sizing: border-box;
  }

  .flex-id {
    position: relative;
    flex: none;
    flex-grow: 0;
  }

  .snapshoot-portfolio {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .portfolio-img {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    width: 295px;
    height: 220px;
    order: 1;
  }

  .pr-title {
    position: relative;
    width: 295px;
    height: 36px;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    order: 2;
  }

  ul.pr-type {
    position: relative;
    width: 236px;
    height: 32px;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    list-style-type: disc;
    color: #344563;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    order: 3;
    gap: 24px;
    padding: 0;
  }

  ul > li.no-style {
    list-style-type: none;
  }

  .pr-description {
    width: 295px;
    position: relative;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
    order: 4;
  }

  ul.pr-button-tag-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 8px;
    width: 203px;
    order: 5;
    padding: 0;
  }

  .pr-button-tag:link {
    position: relative;
    width: 53;
    height: 24px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
    background: #ebebff;
    border-radius: 8px;
    border: none;
    padding: 4px 12px;
  }

  .pr-call-to-action-box {
    position: relative;
    top: 8px;
    width: 285px;
    height: 72px;
    flex: none;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    order: 6;
  }

  .pr-call-to-action-button:link {
    position: relative;
    width: 130px;
    height: 48px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #396df2;
    padding: 12px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
  }

  .about-me-section {
    position: relative;
    top: 180px;
    max-width: 375px;
    height: 1493px;
    margin: 0 24px 0 24px;
    background: #fff;
    border-top-right-radius: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }

  .about-me-top {
    position: relative;
    width: 375px;
    height: 590px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 24px;
    order: 0;
    flex-grow: 0;
    background-color: #fff;
  }

  .about-primary-text {
    position: relative;
    top: 114px;
    max-width: 375px;
    padding: 0 24px 0 24px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    order: 1;
  }

  .about-intro-text {
    /* Introduction Text */
    position: relative;
    max-width: 375px;
    top: 52px;
    padding: 0 24px 0 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    overflow-wrap: break-word;
    color: #344563;
    order: 2;
  }

  .about-social-media-text {
    position: relative;
    width: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 4px 24px 0 24px;
    color: #7f8cff;
    order: 3;
  }

  ul.about-social-media-icons {
    position: relative;
    width: 35%;
    top: -30px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    order: 4;
  }

  .about-social-icon {
    position: relative;
    width: 18px;
    flex: none;
    flex-grow: 0;
    order: 3;
  }

  .about-resume-action-box {
    position: relative;
    width: 148px;
    top: -50px;
    height: 48px;
    left: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    order: 5;
  }

  .about-resume-action:link {
    position: relative;
    width: 148px;
    height: 48px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #396df2;
    padding: 12px;
    background: #fff;
    border: 1px solid #396df2;
    border-radius: 16px;
  }

  .about-me-down {
    position: relative;
    width: 375px;
    height: 564px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    order: 1;
    flex-grow: 0;
    top: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #000;
  }

  ul.no-style {
    list-style: none;
  }

  .skill-pos {
    color: #000;
    padding-left: 12px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  ul.skill-item-selector {
    position: relative;
    height: 66px;
    top: 44px;
    padding: 0 24px 0 24px;
    width: 340px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .select-size {
    padding: 0;
    display: inline-flex;
    align-items: stretch;
  }

  .item-icon {
    position: relative;
    width: 18px;
    height: 18px;
  }

  ul.language-list {
    position: relative;
    top: 40px;
    height: 222px;
    width: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 12px;
    float: none;
    padding: 0;
  }

  .lang-img {
    padding-left: 12px;
  }

  .js-lang,
  .html-lang,
  .css-lang {
    height: 66px;
    position: relative;
    width: 100%;
    background-color: #f8f8f9;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: stretch;
    gap: 36px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #253858;
    flex-wrap: wrap;
    float: none;
    list-style: none;
  }

  a:link {
    text-decoration: none;
  }

  .pr-button-tag:hover,
  .about-resume-action:hover,
  .pr-call-to-action-button:hover,
  .resume:hover,
  #submit-btn:hover {
    background: #2230d2;
    border-radius: 8px;
    color: #6070ff;
  }

  .pr-button-tag:active,
  .about-resume-action:active,
  .pr-call-to-action-button:active,
  .resume:active,
  #submit-btn:active {
    background: #fff;
    border: 1px solid #7c8cff;
    border-radius: 8px;
    color: #6070ff;
  }

  .pr-button-tag:disabled,
  .about-resume-action:disabled,
  .pr-call-to-action-button:disabled,
  .resume:disabled,
  #submit-btn:disabled {
    border: 1px solid #c1c7d0;
    border-radius: 8px;
    color: #6070ff;
  }

  .contact-me-section {
    position: relative;
    top: -36px;
    width: 375px;
    margin: 0;
    height: 844px;
    background: #6070ff;
    border-top-left-radius: 70px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-items: center;
    gap: 24px;
  }

  .contact-primary-text {
    position: relative;
    top: 103px;
    height: 56px;
    width: 297px;
    padding: 0 24px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
    order: 0;
  }

  .contact-intro-text {
    /* Introduction Text */
    position: relative;
    width: 327px;
    top: 25px;
    padding: 0 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  #contact-form {
    position: relative;
    width: 327px;
    height: 400px;
    order: 2;
    padding: 0 24px;
    flex: none;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    z-index: 5;
  }

  ul.contact-form-items {
    position: relative;
    width: 327px;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    order: 0;
  }

  #username,
  #email,
  #message {
    width: 273px;
    height: 18px;
    background-color: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    padding: 15px 38px 15px 15px;
    font-weight: 500px;
    font-size: 18px;
    line-height: 20px;
    color: #172b4d;
  }

  #username:valid,
  #email:valid,
  #message:valid {
    border: 1px solid #008000;
  }

  #username:invalid,
  #email:invalid,
  #message:invalid {
    border: 1px solid #f00;
  }

  .name-pos {
    order: 0;
  }

  .email-pos {
    order: 1;
  }

  .message-pos {
    order: 2;
  }

  .message {
    height: 170px;
    text-align: left;
    font-size: 18px;
    line-height: 24px;
    color: #b3bac5;
  }

  .submit-btn {
    position: relative;
    width: 140px;
    height: 48px;
    box-sizing: border-box;
    padding: 12px 16px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #396df2;
    background: #fff;
    border: 1px solid #396df2;
    border-radius: 8px;
    order: 3;
  }

  .submit-btn-pos {
    align-self: start;
  }

  .contact-header-shapes {
    position: relative;
    overflow: hidden;
    width: 375px;
    height: 844px;
    top: -844px;
    z-index: 0;
  }

  .contact-rect-4 {
    position: absolute;
    height: 172px;
    width: 75px;
    left: 310px;
    top: 21px;
    background-color: #fff;
    transform: rotate(1deg);
    background: url('../images/header-shapes/contact-rect-4.png') no-repeat;
  }

  .contact-ellipse-3 {
    position: absolute;
    height: 90px;
    width: 90px;
    left: 328px;
    top: 48px;
    transform: rotate(30.18deg);
    background: url('../images/header-shapes/contact-ellipse-3.png') no-repeat center;
  }

  .contact-ellipse-5 {
    position: absolute;
    height: 33px;
    width: 33px;
    left: 268px;
    bottom: 100px;
    background: #6070ff url(../images/header-shapes/contact-ellipse-5.png) no-repeat center;
  }

  .contact-rect-7 {
    position: absolute;
    height: 13px;
    width: 76px;
    left: 259px;
    bottom: 129px;
    background: url(../images/header-shapes/contact-rect-7.png) no-repeat;
    background: #7f8cff;
    transform: matrix(0.8, 0.6, 0.6, -0.8, 0, 0);
  }

  .contact-ellipse-12 {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 153px;
    top: 55px;
    background: url(../images/header-shapes/contact-ellipse-12.png) no-repeat center;
  }

  .hm-indicator-light {
    position: relative;
    top: 42px;
    width: 134px;
    height: 5px;
    border-radius: 10px;
    background: #0d151e;
    order: 4;
  }
}
