@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

@media screen and (min-width: 375px) {
  html,
  body {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    background: #efefef;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    font-style: normal;
  }

  html {
    scroll-behavior: smooth;
    font-size: 16px;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  a:link {
    text-decoration: none;
  }

  .header {
    position: relative;
    width: 100%;
    height: 48px;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 45%;
  }

  .logo {
    position: relative;
    width: auto;
    height: auto;
    padding: 0 5%;
    font-family: "Poppins", sans-serif;
    color: #0f27ff;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    order: 0;
    animation: rotate 1.5s 3s 2 alternate;
  }

  @keyframes rotate {
    from {
      opacity: 1;
      transform: rotate(0deg);
    }

    to {
      opacity: 1;
      transform: rotate(360deg);
    }
  }

  .nav-bar {
    position: relative;
    padding: 0 5%;
    width: auto;
    margin: 0;
    height: auto;
    order: 1;
  }

  .mm-icon-wrapper {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .mobile-menu-icon {
    position: relative;
    width: 24px;
    height: 24px;
    padding: 20%;
  }

  .m-menu-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 5rem;
    margin: 0;
    width: auto;
    height: 100%;
    background-color: rgb(96, 112, 255);
    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1.7rem;
    z-index: 9;
  }

  .m-menu-color-blend {
    mix-blend-mode: multiply;
  }

  #mobile-menu {
    position: relative;
    height: auto;
    width: 100%;
    padding: auto;
    margin-bottom: 19rem;
  }

  ul.popup-pr-type li {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    font-family: "Poppins", sans-serif;
    color: #344563;
  }

  #mobile-menu li {
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
  }

  #mobile-menu li a {
    position: relative;
    width: 100%;
    color: #fff;
    font-family: "Poppin", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .m-menu-closebtn {
    align-self: end;
    margin-top: -2rem;
    margin-right: 2rem;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.5rem;
    color: #fff;
  }

  .m-menu-bar {
    align-self: center;
  }

  .blur-bg {
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }

  .headline-section {
    position: relative;
    height: 94vh;
    width: 100%;
    margin: 0 auto;
    border-bottom-left-radius: 5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.2rem;
    background-color: #fff;
    background-image: url("../images/bgd/mob-header-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 90%;
    overflow: hidden;
  }

  @media screen and (width: 414px), (width: 412px) {
    .headline-section {
      height: 75vh;
      top: -90px;
    }
  }

  @media screen and (width: 390px), (width: 393px) {
    .headline-section {
      height: 80vh;
      top: -61px;
    }
  }

  @media screen and (width: 412px) {
    .headline-section {
      height: 75vh;
      top: -100px;
    }
  }

  @media screen and (min-width: 540px) {
    .headline-section {
      height: 93vh;
      top: -2px;
    }
  }

  .primary-text {
    position: relative;
    margin: 0;
    width: auto;
    height: auto;
    padding: 0 5%;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    order: 0;
  }

  .pt-animation {
    animation: 3s slideIn 1 normal;
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      margin-left: 100%;
      width: 300%;
    }

    to {
      opacity: 1;
      margin-left: 0%;
      width: 100%;
    }
  }

  .intro-text {
    position: relative;
    width: auto;
    height: auto;
    padding: 0 5%;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    overflow-wrap: break-word;
    color: #344563;
    order: 1;
  }

  .it-animation {
    animation: 4s fadeIn;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .social-media-text {
    position: relative;
    margin: 0;
    width: auto;
    height: auto;
    padding: 0 5%;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #0f27ff;
    order: 2;
  }

  .smt-animation {
    animation: slideInLeft 2.5s linear 1 normal;
  }

  @keyframes slideInLeft {
    from {
      opacity: 0;
      margin-left: -30%;
      width: 100%;
    }

    to {
      opacity: 1;
      margin-left: 0%;
      width: 100%;
    }
  }

  ul.social-media-icons {
    position: relative;
    width: auto;
    height: auto;
    padding: 0 5%;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 4%;
    order: 3;
  }

  .smi-animation {
    animation: fadeIn 4s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .social-icon {
    position: relative;
    width: 60%;
    height: 20%;
  }

  .mob-works-section {
    position: relative;
    height: auto;
    width: auto;
    margin: 138px auto;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 96px;
  }

  .card {
    position: relative;
    width: auto;
    height: auto;
    padding: 14px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 12px;
  }

  .pr-photo {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 0 4px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    order: 0;
    transition: scale 1s ease-out;
  }

  .pr-photo:hover {
    scale: 1.04;
  }

  .portfolio-img {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    order: 0;
  }

  .pr-details {
    position: relative;
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    order: 1;
    gap: 12px;
  }

  .pr-title {
    position: relative;
    width: auto;
    margin: 0;
    height: auto;
    padding: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    order: 0;
  }

  ul.pr-type {
    position: relative;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    list-style-type: disc;
    color: #344563;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    order: 1;
    gap: 24px;
  }

  ul > li.no-style {
    list-style-type: none;
  }

  .pr-description {
    position: relative;
    width: auto;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    order: 2;
  }

  ul.pr-tech-tags {
    position: relative;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 8px;
    order: 3;
  }

  .pr-tag {
    position: relative;
    width: auto;
    height: auto;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #0400be;
    background: #ebebff;
    border-radius: 8px;
    border: none;
    padding: 4px 12px;
  }

  .pr-call-to-action-box,
  .about-resume-action-box {
    position: relative;
    margin: 0;
    padding: 4px 0 0 0;
    width: auto;
    height: auto;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    order: 4;
  }

  .about-resume-action-box {
    margin-left: 16px;
  }

  .pr-call-to-action-button,
  .about-resume-action-button {
    color: #0f27ff;
    margin: 0 auto;
    text-align: center;
  }

  .about-resume-action-button {
    font-size: 16px !important;
  }

  .pr-call-to-action-button:link,
  .about-resume-action-button:link {
    position: relative;
    width: 130px;
    margin: 0;
    height: 48px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #396df2;
    padding: 12px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
  }

  .mob-modal-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 0;
    background: rgba(194, 200, 209, 0.85);
    z-index: 99;
    visibility: hidden;
  }

  .popup-card {
    position: relative;
    width: auto;
    height: 94vh;
    margin: 1.7rem 0.7rem 0.5rem 0.7rem;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    box-sizing: border-box;
    gap: 0.4rem;
    border: 1px solid #dfe1e6;
    box-shadow: 0 2rem 2rem rgba(37, 47, 137, 0.08);
    overflow-y: scroll;
  }

  .popup-title {
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    order: 0;
  }

  .popup-pr-title {
    position: relative;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 44px;
    color: #172b4d;
    order: 0;
  }

  .popup-close-btn {
    order: 1;
  }

  .popup-toggle {
    position: relative;
    font-size: 1.5rem;
    height: 1.2rem;
    width: 1.5rem;
    border: 0;
    margin-right: 0.3rem;
    margin-top: 0.5rem;
    color: #000;
    background: #fff;
  }

  ul.popup-pr-type {
    order: 1;
    position: relative;
    width: auto;
    margin: 0;
    padding: 0;
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 24px;
  }

  .popup-pr-photo {
    position: relative;
    width: 100%;
    height: auto;
    order: 2;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .popup-portfolio-img {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    scale: 1;
    transition: scale 1s ease-in-out;
  }

  .popup-portfolio-img:hover {
    scale: 1.05;
  }

  .popup-details,
  .popup-tech-info {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0.6rem;
  }

  .popup-details {
    order: 3;
  }

  .popup-pr-desc {
    position: relative;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: justify;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    align-self: start;
    color: #344563;
    order: 0;
  }

  .popup-tech-info {
    order: 1;
  }

  ul.popup-pr-techs {
    position: relative;
    height: 1.5rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 6px;
    width: auto;
    order: 0;
  }

  .popup-divider {
    position: relative;
    margin: 0.12rem auto;
    width: 100%;
    border: 1px solid #ebecf0;
    order: 1;
  }

  .popup-action-btns {
    position: relative;
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    order: 2;
  }

  .live-source-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    margin: 0;
    gap: 0.7rem;
    border: 1px solid #6070ff;
    border-radius: 8px;
    width: auto;
    height: auto;
    font-weight: 500;
    font-size: 28px;
    line-height: 20px;
  }

  .github-icon-trim {
    width: auto;
    height: 100%;
  }

  .about-me-section {
    position: relative;
    margin: 0 auto;
    padding-bottom: 155px;
    padding-top: 168px;
    width: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10%;
    border-top-right-radius: 6rem;
    background-color: #fff;
  }

  .about-me-top,
  .about-me-down {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 16px;
    background-color: #fff;
  }

  .about-me-top {
    order: 0;
  }

  .about-me-down {
    order: 1;
    gap: 36px;
  }

  ul.no-style {
    list-style: none;
  }

  ul.skill-lang-selector1,
  ul.skill-lang-selector2 {
    position: relative;
    height: auto;
    width: 80%;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  ul.skill-lang-selector1 {
    order: 0;
  }

  ul.skill-lang-selector2 {
    order: 2;
  }

  .skill-name {
    color: #000;
    margin: 0;
    width: auto;
    height: auto;
    padding: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    order: 0;
  }

  .skill-link {
    color: #000;
  }

  .skill-icon {
    position: relative;
    width: 18px;
    height: 18px;
    order: 1;
  }

  ul.language-list {
    position: relative;
    margin: 0 auto;
    padding: 0;
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    order: 1;
  }

  .lang-img {
    padding-left: 12px;
  }

  .js-lang,
  .html-lang,
  .css-lang {
    height: auto;
    position: relative;
    width: 100%;
    background-color: #f8f8f9;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 24px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #253858;
    flex-wrap: wrap;
    float: none;
    list-style: none;
    padding: 8px 0;
  }

  .skills-line1,
  .skills-line2 {
    position: relative;
    margin: 0 auto;
    width: 86%;
    height: 1px;
    color: #000;
  }

  .skills-line1 {
    order: 2;
    margin: -18px auto;
  }

  .skills-line2 {
    order: 4;
    margin: -18px auto;
  }

  footer {
    position: relative;
    height: auto;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
  }

  .contact-me-section {
    position: relative;
    width: auto;
    margin: 0 auto;
    height: auto;
    padding: 114px 24px 0 24px;
    background: #0016df;
    background-image: url("../images/bgd/mob-contact-bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    border-top-left-radius: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }

  .contact-primary-text {
    color: #fff;
  }

  .contact-instruction {
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  #contact-form {
    position: relative;
    width: 100%;
    height: auto;
    order: 2;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  ul.contact-form-items {
    position: relative;
    width: 100%;
    height: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    order: 0;
  }

  .sender-name {
    order: 0;
  }

  .sender-email {
    order: 1;
  }

  .sender-message {
    order: 2;
  }

  .sender-name,
  .sender-email,
  .sender-message {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  #username,
  #email,
  #message {
    position: relative;
    width: 83%;
    background-color: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    padding: 15px 38px 15px 15px;
    font-weight: 500px;
    font-size: 18px;
    line-height: 20px;
    color: #172b4d;
  }

  .placeholder:focus::-webkit-input-placeholder {
    color: #fff;
  }

  .placeholder:focus::-ms-input-placeholder {
    color: #fff;
  }

  .placeholder:focus::-moz-placeholder {
    color: #fff;
  }

  .username,
  .email {
    height: 18px;
  }

  #username:valid,
  #email:valid,
  #message:valid {
    border: 1px solid #008000;
  }

  #username:invalid,
  #email:invalid,
  #message:invalid {
    border: 1px solid #f00;
  }

  .message {
    height: 170px;
    text-align: left;
    font-size: 18px;
    line-height: 24px;
    color: #b3bac5;
  }

  .username-label,
  .email-label,
  .message-label {
    display: block;
    visibility: hidden;
  }

  .contact-submit-btn {
    position: relative;
    width: 100%;
    height: auto;
    margin: 16px 0 0 0;
    padding: 0;
    order: 3;
  }

  .submit-btn {
    position: relative;
    width: auto;
    height: 48px;
    box-sizing: border-box;
    padding: 12px 16px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #396df2;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
  }

  .about-resume-action-button:hover,
  .pr-call-to-action-button:hover {
    background: #6070ff;
    border-radius: 8px;
    border: 0;
    color: #fff;
    box-shadow: 0 2px 5px #0f27ff;
  }

  .submit-btn:hover {
    background: #0016df;
    border-radius: 8px;
    border: 1px solid #fff;
    color: #fff;
  }

  .about-resume-action-button:enabled,
  .pr-call-to-action-button:enabled {
    background: #fff;
    border: 1px solid #0f27ff;
    border-radius: 8px;
    color: #0f27ff;
  }

  .about-resume-action-button:active,
  .pr-call-to-action-button:active,
  .submit-btn:active {
    background: #2230d2;
    border: 1px solid #0f27ff;
    border-radius: 8px;
    color: #fff;
  }

  .about-resume-action-button:disabled,
  .pr-call-to-action-button:disabled {
    border: 1px solid #c1c7d0;
    border-radius: 8px;
    color: #0f27ff;
  }

  .indicator {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 2.5rem 0 0.5rem 0;
    background-color: #0016df;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
  }

  .indicator-bar {
    order: 1;
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 30%;
    height: 3px;
    border: 1px;
    background-color: #0d151e;
    border-radius: 10px;
  }

  .desk-menu,
  .desk-works-section,
  .desk-modal-popup {
    display: none;
  }
}
